/* general */
body, html{
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
form{
  padding: 20px 30px;
  border-radius: 5px;
  /*
  display = flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}
label{
  font-weight: 600;
}
input, textarea, select{
  margin-bottom: 10px;
}
#identity{
  padding: 10px 5px;
  border: 1px solid #0088ff;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
}
/* row identity */
#identity label{
  display: inline-block;
  width: 20%;
}
#identity input{
  display: inline-block;
}
/* cas particuliers */
#firstname, #lastname{
  display: inline-block;
  width: 60%;
}
#submitButton{
  padding: 10px 40px;
  margin-top: 15px;
  background-color: #2d864d;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
#recapInfo{
  margin-top: 30px;
}
.error{ color: red; }
#age{
  width: 20%;
}
p[class="ans"]{
  display: inline-block;
}
#company{
  width: 60%;
}