body{
  margin: 0; padding: 0;
  font-family:'Roboto';
  color: #135920;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}
#containerPage{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  z-index: 1;
  background-image: url('nature-green1style1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transform: scale(1);
}
#containerFormBack{
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  border-radius: 2px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 8px black;
}
#containerFormFront{
  height: 80%;
  width: 80%;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
h2{
  display: inline-block;
  margin: 25px 15px;
  text-align: left;
}
h1{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 0px 8px black;
}
input, label, input[type="submit"], select{
  display: inline-block;
}
form{
  text-align: center;
}
.choiceSelect{
    text-align: left;
}
.choiceSelect > label{
    margin-left: 25px;
}
select{
    width: 30%;
    padding: 4px 2px;
}
label{
  width: 20%;
  font-weight: 600;
  text-align: left;
}
/* selection de tous les input exepté le submit */ 
input:not(#submitButton){
  width: 60%;
  padding: 8px 12px;
  margin: 5px 0px;
  color: black;
  font-weight: 500;
}
input[type="submit"]{
  margin: 15px 0px;
  padding: 12px 60px;
  background-color: inherit;
  border: 1px solid #3bb16b;
  border-radius: 5px;
  font-weight: 500;
}
#links{
  margin-top: 100px;
  text-align: center;
}
.linkEx{
  margin: 15px 0px;
  padding: 12px 20px;
  background-color: #32a9cf;
  border: 1px solid #32a9cf;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.accueil{
  border: 1px solid #3bb16b;
  background-color: #3bb16b;
  color: white;
}
.active{
  background-color: inherit;
  color: inherit;
  pointer-events: none;
}
#feuille{
  position: absolute;
  margin-top: -180px;
  margin-left: 463px;
  transform: scale(0.66);
}